@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,500);

@media screen {

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  background-color: #fefefe;  
  font-size: 16px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 1.5em 0 .2em 0;
  font-size: 2em;
  text-align: center;  
}

h1.homeheading {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:700;
  color:#333333;
  font-size: 2.3em;
  margin-top: 2em;
  margin-bottom: .2em;
}

h1.title {
  font-size: 2em;
  font-weight: 700;
  color:#fefefe;
  font-size: 4em;
  margin-top: 0.2em;
}

p.title-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color:#eeeeee;
  line-height: 1.4em;
}

h2 {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
   font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  line-height: 120%;
  margin: 0em 0 1em 0;
  text-align: center;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color:#000;
  font-size: 1.2em;
  margin: 1em 0 .2em 0;
}

h4 {
  font-size:1.2em;
}


h5 {
  color:#666;
  font-size:1em;
}


hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

p.abstract {
  border:1px solid gray;
  background-color: #e5d3bb;
  padding:2em;
  font-size: 90%;
}

footer {
  margin-top:2em;
  padding: 2em;
  background-color: #823b3b;
  color:#ccc;
  text-align: center; 
}

a {
  color: #337ab7;
  color: #9a4031;
}

a:visitd {
 color: #9a4031; 
}

a:hover {
 color: #9a4031;  
}

li {
margin-bottom:.4em;
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}

.has-pullquote:before {
  /* Reset metrics. */
  padding: 0em;
  border: 0px solid #ccc;
  
  /* Content */
  content: attr(data-pullquote);
  
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 20em;
  margin: 1em 0 1em 2em;
  
  /* Baseline correction */
  position: relative;
  top: 5px;
  
  /* Typography (30px line-height equals 25% incremental leading) */
  font-family: Roboto;
  font-size: 120%;
  line-height: 130%;
  text-align: justify;
}

.img-right {
  float:right;
  clear:none;
  margin:none;
  /* no bottom padding; handled with caption */
  padding:0 0px 0px 18px;
}


figcaption.img-right {
  font-size: 80%;
  color:#666;
  text-align: right;
  font-family: 'Oxygen', sans-serif;
  display:block;
  margin:.2em 0 .2em 0;
  clear:both;
  width: 250px;
  line-height: 1.2em;
}


} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

  @media (max-width: 768px) {

  body {
    font-size: .8rem;
  }

  h2 {
   font-size: 1rem; 
  }

  h3 {
   font-size: .9rem; 
  }

/*****************************************************************************/
/*
/* PRINTING
/*
/*****************************************************************************/

@media print {

  @page {margin: 2.5cm;}

  body {
    font-weight: normal;
    font-family: times;
    padding:0;
    margin: 0;
  }

.container {
  margin:0;
}

  .site {
    width:35em;
    margin:0;
    padding:0;
   }

  nav {
    display:none;
  }

  .footer {
    display:none;
  }

p, div, ul, li {
    font-weight: normal;
}

div p {
  font-weight: normal;
}

ul li {
  font-family: times;
  font-weight: normal;
  font-size:100%;
}

h2 {
  clear:both;
}

h3 {
  font-weight: normal;
}


hr {
  clear:both;
}
  .page-break { display: block; page-break-before: always; }
}

